<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="../public/css/base.css">
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
</head>

<body>
  <div class="container">
    <h1>Todo List</h1>
    <div class="add-task">
      <form autocomplete="off">
        <input id="id-input-add" type="text" placeholder="输入你的待办事项...">
        <button id="id-button-add" type="button">添加</button>
      </form>
    </div>
    <div class="task-list" id='id-div-list'>
    </div>
  </div>
  <script src="../public/js/todo.js"></script>
</body>

</html>
